.Title {
  width: 100%;
  padding: 12px;
  margin: -2px;
  background-color: #e0e0e0;
  border: none;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.Title:focus {
  outline: none;
}

.Fret {
  width: 2em;
  padding: .1em;
  margin: 1em;
}

.Frets {
  display: inline-block;
}

.Measure {
  border-top: .5em solid #016FB9;
  display: inline-block;
  border-right: 4px dashed rgba(0, 0, 0, 0.2);
}

.singleNote {
  width: 100%;
  padding: 0;
  margin: -2px;
  border: none;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  border-radius: 6px;
  background: #e0e0e0;
  box-shadow: inset 3px 3px 12px #bebebe,
    inset -3px -3px 12px #ffffff;
}

.singleNote:focus {
  outline: none;
}

.clearNotes {
  background-color: #e0e0e0;
  color: #016FB9;
  display: flex;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  border: 0px;
  border-radius: 100em;
  text-align: center;
  transition: all .2s;
}

.clearNotes:hover {
  box-shadow: inset 3px 3px 12px #bebebe,
    inset -3px -3px 12px #ffffff;
}

body {
  background-color: #e0e0e0;
}