.Title {
  width:100%;
  padding:0;
  margin:-2px;
  background-color: #F9EBE0;
  border:none;
  font-weight: bold;
  font-size:2em;
  text-align: center;
}
.Title:focus {
  outline: none;
}

.Fret {
  background-color: #F9EBE0;
  width: 2em;
  padding: .1em;
  margin: 1em;
}

.Frets {
  display: inline-block;
}

.Fretboard {
  border-top: .5em solid #016FB9;
}

.Neck {
  background-color: #c2b4aa;
}

.singleNote {
  width:100%;
  padding:0;
  margin:-2px;
  background-color: #F9EBE0;
  border:none;
  font-weight: bold;
  font-size:2em;
  text-align: center;
}

.singleNote:focus {
    outline: none;
}

body {
  display:flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #F9EBE0;
}